.btn {
  // border: 1px solid #009999;
  border-radius: 5px;
  padding: 9px 15px;
  font-weight: 500;
  font-size: 14px;
  font-family: "Lora";
  color: #fff;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
