.schedule-student {
  &__table {
    width: 100%;
    border-collapse: collapse;
    background-color: #8e8f8f40;
  }
  &__header {
    background-color: #aaa9a9ba;
  }
  &__lession {
    font-weight: 600;
  }
  &__item {
    background-color: #fff;
  }

  td,
  th {
    border: 1px solid #009999;
  }
  td {
    padding: 5px 10px;
    text-align: center;
  }
  th {
    padding: 5px 0;
    font-size: 16px;
  }
}
