.listclass {
  &__list {
    display: grid;
    margin-top: 15px;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px 15px;
  }
  &__item {
    min-width: 140px;
    max-width: 180px;
  }
  //   &__search {
  //     margin-top: 15px;
  //   }
  &__header {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
  }
  &__btn-add {
    margin-top: 15px;
    background-color: #ffaa00;
    color: #fff;
    border: unset;
    margin-left: 20px;
  }
  &__year {
    width: 200px;
    // margin-left: 20px;
  }
  &__dropdown {
    margin-top: 3px;
  }
  &__btn {
    padding: 8px 15px;
    margin-left: 10px;
  }
}
