.card-courses {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #009999;
  background: #eee;
  padding: 25px 15px;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  min-height: 212px;
  &--bold {
    font-weight: 600;
  }
  &--margin-top {
    margin-top: 5px;
  }
  &__detail {
    cursor: pointer;
    color: #009999;
  }
  &__icon {
    position: absolute;
    top: 6px;
    right: 10px;
    cursor: pointer;
    width: 20px;
  }
  &__icon-trash {
    position: absolute;
    top: 6px;
    left: 10px;
    cursor: pointer;
  }
}
