@import "../../assets/scss/variables.scss";
.update-teacher {
  &__group-btn {
    width: 80%;
    margin: 0 auto;
  }
  .formTeacher {
    .input {
      padding: 8px 8px;
    }
    &__cover {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px 30px;
      width: 80%;
      @include breakpoint(medium) {
        width: 100%;
      }
      margin: 20px auto;
    }
    &__item {
      &--date {
        padding: 6px 8px !important;
      }
    }
    &__label {
      font-weight: bold;
      font-size: 15px;
      margin-left: 5px;
    }
    &__btn {
      width: 100px;
      padding: 8px 10px;
    }
    &__checkbox {
      display: flex;
      align-items: center;
    }
    &__label-checkbox {
      margin-left: 10px;
    }
  }
}
