.image-upload-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__btn-upload {
    border-radius: 5px;
    padding: 5px 12px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background-color: #009999;
    margin-top: 15px;
  }
  &__file-input {
    display: none;
  }
  &__image {
    width: 270px;
    height: 350px;
    object-fit: fill;
    border-radius: 15px;
  }
  &__icon {
    width: 270px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    border-radius: 15px;
  }
}
